* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.clearfix::after {
  content:"";
  display:table;
  clear: both;
}
body {
  font-family: sans-serif;
}
header {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: cover;
  height: 800px;
  width: 1350px;
  position: relative;
}
.container {
  width: 80%;
  margin: auto;
}
.header-top {
  background-color:#F4F9FD;
  background-size: 50%;
  border: 30px;
  margin: auto;
  height: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.header-top-right {
  margin-bottom: 10px;
  width: 45%;
  float: right;
  color: grey
}
.header-top-prima-riga {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.menu-inline {
  float: left;
}
.menu-inline li {
  margin: 0 5px;
}
.menu-inline li a  {
  color: #33475b;
  text-decoration: none;
}
.menu-inline {
  list-style: none;
}
.menu-inline li {
  display: inline-block;
}
.img {
  margin-top: 20px;
  height: 10%;
  width: 2%;
  float: left;
}
<!-- stile bottoni -->
button {
  margin: 10px;
  padding: 10px;
}
.btn {
  border-radius: 5px;
  color: #ff7a59;
  padding: 8px 10px;
  min-width: 100px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.btn-orange {
  background-color: #ff7a59;
}
.btn-border-white {
  border: 3px solid #ff7a59;
}
.header2 {
  background: white;
  border: 30px;
  margin: auto;
  height: 80px;
}
.menu-inline2 {
  list-style: none;
  display: inline-block;
  float: right;
  margin-left: 40px;
  margin-top: 30px;
  padding-left: 5px;
  text-decoration: none;
}
.menu-inline2 li {
  display: inline;
  padding-right: 30px;
  margin: 15px;
}
a:link {
  text-decoration: none;
  color: black;
}
.Titolo {
  padding: 100px;
  margin: 0px;
  font-size: 25px;
}
p {
  padding-top: 20px;
  font-size: 15px;
}

h2 {
  font-size: 30px;
}

.colonna1 {
  padding: 10px;
  margin-left: 100px;

}
